<a href="https://colab.research.google.com/github/EdFCJunior/Python_Para_Data_Science/blob/main/Linguagem_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando o Numpy

In [42]:
import numpy as np

carros_anos = np.loadtxt('carros-anos.txt', dtype = int)
carros_km = np.loadtxt('carros-km.txt')
carros_nomes = np.loadtxt('carros-nomes.txt', delimiter = '\n', dtype = str)
carros_valor = np.loadtxt('carros-valor.txt')
carros_zero_km = np.loadtxt('carros-zero-km.txt', dtype = int)

## Verificando a quantidade de dados que estamos trabalhando

In [43]:
print(carros_anos.shape, carros_km.shape, carros_nomes.shape, carros_valor.shape, carros_zero_km.shape)

(258,) (258,) (258,) (258,) (258,)

## Criando colunas

In [44]:
idade_carros = 2022 - carros_anos
km_media = (carros_km / (2022 - carros_anos)).round(2)

In [45]:
dados_carros = np.column_stack(
    (
    carros_nomes,
    carros_anos,
    carros_valor,
    carros_km,
    carros_zero_km,
    idade_carros,
    km_media
    )
)

## Concatenando Arrays

In [46]:
dados_carros

array([['Jetta Variant', '2003', '88078.64', ..., '0', '19', '2337.37'],
       ['Passat', '1991', '106161.94', ..., '0', '31', '184.26'],
       ['Crossfox', '1990', '72832.16', ..., '0', '32', '1160.09'],
       ...,
       ['Classe GLK', '2002', '68934.03', ..., '0', '20', '2631.85'],
       ['Aston Martin DB5', '1996', '122110.9', ..., '0', '26', '295.58'],
       ['Macan', '1992', '90381.47', ..., '0', '30', '1672.93']],
      dtype='<U38')